<?xml version="1.0" encoding="UTF-8"?>
<web-app>

		<context-param>
        	<param-name>l</param-name>
        	<param-value>500</param-value>
        </context-param>
        
        <context-param>
        	<param-name>m</param-name>
        	<param-value>600</param-value>
        </context-param>
        
 	<servlet>
        <servlet-name>kohli</servlet-name>
        <servlet-class>Add</servlet-class>
        <init-param>
        	<param-name>x</param-name>
        	<param-value>300</param-value>
        </init-param>
        
        <init-param>
        	<param-name>y</param-name>
        	<param-value>400</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>kohli</servlet-name>
        <url-pattern>/virat</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>apple</servlet-name>
        <servlet-class>LoginServlet1</servlet-class>
        <init-param>
        	<param-name>a</param-name>
        	<param-value>100</param-value>
        </init-param>
        
        <init-param>
        	<param-name>b</param-name>
        	<param-value>200</param-value>
        </init-param>
        
    </servlet>

    <servlet-mapping>
        <servlet-name>apple</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

</web-app>