<?xml version="1.0" encoding="UTF-8"?>
<web-app>

		<context-param>
        	<param-name>l</param-name>
        	<param-value>500</param-value>
        </context-param>
        
        <context-param>
        	<param-name>m</param-name>
        	<param-value>600</param-value>
        </context-param>
        
 	<servlet>
        <servlet-name>kohli</servlet-name>
        <servlet-class>Add</servlet-class>
        <init-param>
        	<param-name>x</param-name>
        	<param-value>300</param-value>
        </init-param>
        
        <init-param>
        	<param-name>y</param-name>
        	<param-value>400</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>kohli</servlet-name>
        <url-pattern>/virat</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>apple</servlet-name>
        <servlet-class>LoginServlet1</servlet-class>
        <init-param>
        	<param-name>a</param-name>
        	<param-value>100</param-value>
        </init-param>
        
        <init-param>
        	<param-name>b</param-name>
        	<param-value>200</param-value>
        </init-param>
        
    </servlet>

    <servlet-mapping>
        <servlet-name>apple</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    
    
     <filter>
       <filter-name>ValidFilter</filter-name>
       <filter-class>LoginValidationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>ValidFilter</filter-name>
        <url-pattern>/login</url-pattern>
    </filter-mapping>
    
    
     <servlet>
        <servlet-name>swapnil</servlet-name>
        <servlet-class>LoginURL</servlet-class>
    </servlet>
    
     <servlet-mapping>
        <servlet-name>swapnil</servlet-name>
        <url-pattern>/loginurlrw</url-pattern>
    </servlet-mapping>
    
    
     <servlet>
        <servlet-name>shopping</servlet-name>
        <servlet-class>ShoppingServlet</servlet-class>
    </servlet>
    
     <servlet-mapping>
        <servlet-name>shopping</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    
    
     <servlet>
         <servlet-name>payment</servlet-name>
        <servlet-class>PaymentServlet</servlet-class>
    </servlet>
    
     <servlet-mapping>
        <servlet-name>payment</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    
    <servlet>
         <servlet-name>LoginHFNew</servlet-name>
        <servlet-class>LoginHFServlet</servlet-class>
    </servlet>
    
     <servlet-mapping>
        <servlet-name>LoginHFNew</servlet-name>
        <url-pattern>/loginhfnew</url-pattern>
    </servlet-mapping>
    
     <servlet>
         <servlet-name>ShopHF</servlet-name>
        <servlet-class>ShoppingHFServlet</servlet-class>
    </servlet>
    
     <servlet-mapping>
        <servlet-name>ShopHF</servlet-name>
        <url-pattern>/shophf</url-pattern>
    </servlet-mapping>
    
     <servlet>
          <servlet-name>AddEmployee</servlet-name>
        <servlet-class>AddEmployeeServlet</servlet-class>
    </servlet>
    
     <servlet-mapping>
        <servlet-name>AddEmployee</servlet-name>
        <url-pattern>/addemp</url-pattern>
    </servlet-mapping>
    
     <servlet>
          <servlet-name>ShowEmployees</servlet-name>
        <servlet-class>ShowAllEmployees</servlet-class>
    </servlet>
    
     <servlet-mapping>
        <servlet-name>ShowEmployees</servlet-name>
        <url-pattern>/showAllEmployees</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DeleteEmployee</servlet-name>
        <servlet-class>DeleteEmployeeServlet</servlet-class>
    </servlet>
    
     <servlet-mapping>
        <servlet-name>DeleteEmployee</servlet-name>
        <url-pattern>/deleteemp</url-pattern>
    </servlet-mapping>

</web-app>